# Dependencies
node_modules/

# Testing
coverage/

# Production & Build
/build
dist/
dist-ssr/
.serverless/
.build/
aws/dist/

# Environment & Secrets
.env
.env.*
backend/config/*.env.json
!backend/config/*.example*.json
frontend/.env.cloudfront

# IDE & System
.DS_Store
*.tsbuildinfo

# Logs
npm-debug.log*

# Environment variables
.env.*

# Logs
logs
*.log
npm-debug.log*

# IDE and editor files
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache